.VideoHeroComponent {
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.VideoHeroComponent::before {
  padding-top: 100vh;
  content: "";
  display: block;
}

.VideoHeroComponent iframe {
  width: 300%;
  height: 100%;
  margin-left: -100%;
}
